$DOMAIN_NAME {
    encode gzip

    handle_path /worker* {
        reverse_proxy op-worker:3000
    }
    
    handle_path /api* {
        reverse_proxy op-api:3000
    }

    reverse_proxy /* op-dashboard:3000
}